@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-yf1s5a');
	src:url('icomoon.eot?#iefix-yf1s5a') format('embedded-opentype'),
		url('icomoon.woff?-yf1s5a') format('woff'),
		url('icomoon.ttf?-yf1s5a') format('truetype'),
		url('icomoon.svg?-yf1s5a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-github:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-stackoverflow:before {
	content: "\e606";
}
