$small-screen-width: 450px / 16px * 1em;
$medium-screen-width: 700px / 16px * 1em;

$menu-background-color: #522A00;
$menu-text-color: #6BD7FF;

$main-background-color: #00658A;
$main-text-color: white;

$about-background-color: white;
$about-text-color: #522A00;

$projects-background-color: #6BD7FF;
$projects-text-color: #522A00;

$open-background-color: #FFC88C;
$open-text-color: #00658A;

$contact-background-color: white;
$contact-text-color: #00658A;

$copy-background-color: #B35C00;
$copy-text-color: white;

$text-face: Lora;
$title-face: 'Open Sans';

@mixin link-icon($c) {
    content: $c;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
}

a[href^="http://"],a[href^="https://"] {
    vertical-align: baseline;
    &:not([class^="icon-"]):not(.project-fig):after {
        @include link-icon('\f08e');
        text-decoration: none;
    }
}
