@mixin col($f,$a,$pl,$pr) {
    padding: .5em 1em;
    text-align: center;
    @media all and (min-width: $medium-screen-width) {
        width: 50%;
        float: $f;
        text-align: $a;
        padding-left: $pl;
        padding-right: $pr;
        p,h1,h2,h3,h4,h5,h6 {
            text-align: $a;
        }
    }
}
.row {
    position: relative;
}
.row:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.left-col {
    @include col(left,right,2.5em,0.5em);
}
.right-col {
    @include col(right,left,0.5em,2.5em);
}
