@import "common";

nav#menu {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0.5em;
    background-color: $menu-background-color;
    color: $menu-text-color;
    h1 {
        font-size: 100%;
        position: relative;
        display: block;
        line-height: 2.5em;
        margin: 0;
        a, a:visited {
            text-decoration: none;
            color: $menu-text-color;
        }
        @media all and (min-width: $medium-screen-width) {
            float: left;
        }
    }
    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0 0.5em;
            display: block;
            text-align: center;
            font-family: 'Open Sans';
            text-transform: uppercase;
            line-height: 2.5em;
            a, a:visited {
                text-decoration: none;
                color: $menu-text-color;
            }
            @media all and (min-width: $medium-screen-width) {
                display: inline-block;
            }
        }
        @media all and (min-width: $medium-screen-width) {
            float: right;
        }
    }
}
