@import "common";

.project-fig {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 3px 1px 4px 2px $projects-text-color;
    overflow: hidden;
    img {
        width: 100%;
    }
}
#projects,#open {
    div.row:nth-child(odd) {
        div.col:nth-child(1) {
            @extend .left-col;
        }
        div.col:nth-child(2) {
            @extend .right-col;
        }
    }
    div.row:nth-child(even) {
        div.col:nth-child(1) {
            @extend .right-col;
        }
        div.col:nth-child(2) {
            @extend .left-col;
        }
    }
}
