@import "common";

* {
    box-sizing: border-box;
}
html {
    position: relative;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: $text-face;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $title-face;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    &:not(:first-child) {
        margin-top: 1em;
    }
}
h1 {
    font-size: 180%;
    strong {
        font-weight: bold;
    }
}
p {
    margin: 0;
    padding: 0;
    text-align: center;
}
form {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
input,select,textarea,button {
    font-size: 100%;
    color: inherit;
}
button {
    background-color: inherit;
    background-image: none;
    border: 1px solid #00658A;
    border-radius: 0.25em;
}
a,a:visited {
    text-decoration: none;
}
