@import "reset";
@import "opensans";
@import "fontello";
@import "common";
@import "layout";
@import "nav";
@import "projects";

article {
    max-width: 30em;
    margin: auto;
}
aside {
    max-width: 20em;
    display: inline-block;
    p {
        margin-top: 0.5em;
    }
}
a[href='#menu'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
    &:visited {
        color: inherit;
    }
}
a[class^="icon-"] {
    display: inline-block;
    padding: 0 0.5em 0 0;
}
section {
    position: relative;
    margin: 0;
    padding: 2.5em 1em;
    &#main {
        background-color: $main-background-color;
        color: $main-text-color;
        .logo {
            text-align: center;
            img {
                height: 16em;
            }
         }
        .intro {
             text-align: center;
             p {
                 margin: 0;
             }
         }
    }
    &#about {
        background-color: $about-background-color;
        color: $about-text-color;
        p {
            margin-top: 0.5em;
        }
    }
    &#projects {
        background-color: $projects-background-color;
        color: $projects-text-color;
    }
    &#open {
        background-color: $open-background-color;
        color: $open-text-color;
    }
    &#contact {
        background-color: $contact-background-color;
        color: $contact-text-color;
        a, a:visited {
            text-decoration: none;
            color: $contact-text-color;
        }
        .contact-info {
            margin: 0 auto;
            padding: 0 1em 1em 0;
            max-width: 20em;
            .company {
                font-size: 120%;
                text-transform: uppercase;
            }
        }
        .send-message {
            margin: 0 auto;
            padding: 0 1em 1em 0;
            max-width: 20em;
            input, select, textarea {
                display: block;
                width: 100%;
            }
        }
    }
    &#copy {
        margin: 0;
        padding: 0;
        background-color: $copy-background-color;
        color: $copy-text-color;
        font-size: 80%;
    }
}
